/* app css stylesheet */

/* For Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* End Angular UI Bootstrap */

/* Site-wide styles start */
html, body {
    height: 100%;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 85% Arial, Helvetica, sans-serif;
    color: #000;
    background: #FFF url(../img/background_pattern.png) repeat;
    overflow-y: scroll;
}

#container {
   min-height: 100%;
   position: relative;
}

.full-height {
    height: 100%;
}

p {
/*    padding: 0 0 20px 0;*/
    line-height: 1.7em;
    font-size: 100%
}

img {
    border: 0;
    padding: 1px;
}

h1, h2, h3, h4, h5, h6 {
    font: bold 200% 'Open Sans Condensed', sans-serif;
    color: #284020;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
}

h2 {
    font: normal 165% 'Open Sans Condensed', sans-serif;
}

h3 {
    font: normal 150% 'Open Sans Condensed', sans-serif;
}

h4, h5, h6 {
    margin: 0;
    padding: 0 0 0px 0;
    font: normal 150% 'Open Sans Condensed', sans-serif;
    line-height: 1.5em;
}

h5, h6 {
    font: normal 95% 'Open Sans Condensed', sans-serif;
    padding-bottom: 15px;
}

a {
    color: #000;
    font-weight: bold;
    background: transparent;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#container, #header, #logo, #menubar_container, #menubar, #body, #footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 220px;
    background: #284020;
    background: -moz-linear-gradient(#437133, #284020);
    background: -o-linear-gradient(#437133, #284020);
    background: -webkit-linear-gradient(#437133, #284020);
}

#logo {
    width: 185px;
    height: 90px;
    display: block;
    float: left;
    margin: 5px;
}

#welcome {
    width: 940px;
    height: 80px;
    padding: 20px 0 0 0;
    text-align: center;
    margin: 0 auto;
}

#welcome h1 a {
    font: bold 150% 'Open Sans Condensed', sans-serif;
    letter-spacing: -2px;
    color: #F4FB3B;
    text-decoration: none;
    text-shadow: 1px 1px #350B39;
}

/* Menu start */
#menubar_container {
    height: 100px;
    width: 940px;
}

#menubar {
    width: 745px;
    height: 100px;
    padding-top: 20px;
    float: left;
}

ul#menu {
    margin: 15px 0 5px 0;
    padding: 10px 0;
    width: 745px;
    height: 57px;
    display: block;
    background: #437133;
    background: -moz-linear-gradient(#437133, #284020);
    background: -o-linear-gradient(#437133, #284020);
    background: -webkit-linear-gradient(#437133, #284020);
    border-bottom: 3px solid #1D2D17;
    border-left: 1px solid #1D2D17;
    border-right: 1px solid #1D2D17;
    border-top: 1px solid #1D2D17;
    border-radius: 30px 0px 30px 0px;
    -moz-border-radius: 30px 0px 30px 0px;
    -webkit-border: 30px 0px 30px 0px;
}

ul#menu li {
    float: left;
    padding: 0 0 0 0px;
    list-style: none;
    margin: 2px 1px 0 0;
    background: transparent;
    position: relative;
}

ul#menu li a#tab {
    float: left;
    font: bold 120% 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000;
    text-decoration: none;
    margin: 0px 0 0 10px;
    padding: 5px 15px 5px 15px;
}

ul#menu li a#tab.active {
    color: #000;
    text-shadow: 1px 1px #FFF;
    background: #fbce11;
    background: -moz-linear-gradient(#FBCE11, #95750B);
    background: -o-linear-gradient(#FBCE11, #95750B);
    background: -webkit-linear-gradient(#FBCE11, #95750B);
    border-radius: 15px 0px 15px 0px;
    -moz-border-radius: 15px 0px 15px 0px;
    -webkit-border: 15px 0px 15px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

ul#menu li:hover a#tab {
    color: #FFF;
    text-shadow: 1px 1px #000;
    background: #284020;
    background: -moz-linear-gradient(#284020, #437133);
    background: -o-linear-gradient(#284020, #437133);
    background: -webkit-linear-gradient(#284020, #437133);
    border-radius: 15px 0px 15px 0px;
    -moz-border-radius: 15px 0px 15px 0px;
    -webkit-border: 15px 0px 15px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

ul#menu li:hover > ul {
    display: block;
}

ul#menu ul {
    display: none;
    position: absolute;
    left: 10px;
    top: 100%;
    background: #437133;
    background: -moz-linear-gradient(#437133, #284020);
    background: -o-linear-gradient(#437133, #284020);
    background: -webkit-linear-gradient(#437133, #284020);
    border-bottom: 2px solid #1D2D17;
    border-radius: 0px 30px 0px 30px;
    -moz-border-radius: 0px 30px 0px 30px;
    -webkit-border: 0px 30px 0px 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

ul#menu ul li {
    position: relative;
    float: none;
    width: 140px;
}

ul#menu ul li a#subtab {
    float: left;
    font: bold 120% 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000;
    text-decoration: none;
    margin: 0 2px 4px 10px;
    padding: 5px 15px 5px 15px;
}

ul#menu ul li a#subtab.active {
    color: #000;
    text-shadow: 1px 1px #FFF;
    background: #fbce11;
    background: -moz-linear-gradient(#FBCE11, #95750B);
    background: -o-linear-gradient(#FBCE11, #95750B);
    background: -webkit-linear-gradient(#FBCE11, #95750B);
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border: 0px 15px 0px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

ul#menu ul li:hover a#subtab {
    color: #FFF;
    text-shadow: 1px 1px #000;
    background: #284020;
    background: -moz-linear-gradient(#284020, #437133);
    background: -o-linear-gradient(#284020, #437133);
    background: -webkit-linear-gradient(#284020, #437133);
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border: 0px 15px 0px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

/* Clearfix */
ul#menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* Menu stop */

#body {
    width: 940px;
    overflow: hidden;
    background: transparent;
    padding-bottom: 40px;
}

.column {
    width: 33%;
    float: left;
    padding: 0 20px 0 0;
}

.horizontal-row {
    width: 100%;
    margin: auto;
}

.home-thumb {
    width: 153px;
    height: 110px;
    padding: 5px;
}

.column ul li {
    padding-bottom: 5px;
    list-style: none;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    text-shadow: none;
    color: #FFF;
    background: #000;
}

#footer a, #footer a:hover {
    text-decoration: none;
    color: #FFF;
    text-shadow: none;
}

#footer a:hover {
    text-decoration: underline;
}

/* Site-wide styles stop */

/* Contact Us styles start */
.thumb-row {
    width: 86%;
    margin: auto;
    height: 200px;
}

.thumb {
    height: 200px;
    width: 200px;
    float: left;
}

.selected {
    border: 2px solid #FBCE11;
}

.exec-detail-panel {
    display: table;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
}

ul#exec-info {
    display: table-row;
    list-style: none;
    padding: 10px 10px 0 10px;
    float: left;
}

ul#exec-content {
    width: 92%;
    display: table-row;
    list-style: none;
    float: left;
    padding: 10px 10px 0 10px;
    text-align: justify;
}

/* Contact Us styles end */

/* FAQ styles start */

.faq-section{
    margin: 40px 0;
        position: relative;
}

/*Hide the paragraphs*/
.faq-section p{
    display: none;
}   

/*Hide the checkboxes */
.faq-section input{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;         
    display: none\9; /* IE8 and below */
    margin: 0;          
    width: 100%;
    height: 36px;
}

/*If the checkbox is checked, show all paragraphs*/
.faq-section input[type=checkbox]:checked~p{
    display: block;
    color: #444;
    font-size: 1em;
    /* restore clipping defaults */
    text-overflow: clip; 
    white-space: normal;
    overflow: visible;  
}

/*Style the label*/
.faq-section label{
    font-size: 1.2em;
    background: #eee;
    display: block;
    position: relative;
        height: 40px;
    padding: 7px 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-left: 3px solid #888;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    transition: all .15s ease-out;          
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection{
    background: none;
}

.faq-section label:hover{
    background: #f5f5f5;
}

/*If the checkbox is checked, style the label accordingly*/
.faq-section input[type=checkbox]:checked~label{
    border-color: #ff7f50;          
    background: #f5deb4;
    background-image: linear-gradient(to bottom, #fff, #f5deb4);
    box-shadow: 0 0 1px rgba(0,0,0,.4);             
}

/*Label's arrow - default state */
.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit; 
}

/*Update the right arrow*/
.faq-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;    
}

.indented-ul li{
    margin-left: 3em;
}