/* app css stylesheet */

/* For Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* End Angular UI Bootstrap */

/* Site-wide styles start */
html {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 85% Arial, Helvetica, sans-serif;
    color: #000;
    text-shadow: 1px 1px #FFF;
    background: #FFF url(../img/background_pattern.png) repeat;
    overflow-y: scroll;
}

p {
/*    padding: 0 0 20px 0;*/
    line-height: 1.7em;
    font-size: 100%
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font: bold 200% 'Open Sans Condensed', sans-serif;
    color: #284020;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
}

h2 {
    font: normal 165% 'Open Sans Condensed', sans-serif;
}

h3 {
    font: normal 150% 'Open Sans Condensed', sans-serif;
}

h4, h5, h6 {
    margin: 0;
    padding: 0 0 0px 0;
    font: normal 150% 'Open Sans Condensed', sans-serif;
    line-height: 1.5em;
}

h5, h6 {
    font: normal 95% 'Open Sans Condensed', sans-serif;
    padding-bottom: 15px;
}

a {
    color: #000;
    text-shadow: 1px 1px #FFF;
    font-weight: bold;
    background: transparent;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#main, #header, #logo, #menubar_container, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    height: 220px;
    background: #284020;
    background: -moz-linear-gradient(#437133, #284020);
    background: -o-linear-gradient(#437133, #284020);
    background: -webkit-linear-gradient(#437133, #284020);
}

#logo {
    width: 185px;
    height: 90px;
    display: block;
    float: left;
    margin: 5px;
}

#welcome {
    width: 940px;
    height: 80px;
    padding: 20px 0 0 0;
    text-align: center;
    margin: 0 auto;
}

#welcome h1 a {
    font: bold 150% 'Open Sans Condensed', sans-serif;
    letter-spacing: -2px;
    color: #F4FB3B;
    text-decoration: none;
    text-shadow: 1px 1px #350B39;
}

/* Menu start */
#menubar_container {
    height: 100px;
    width: 940px;
}

#menubar {
    width: 745px;
    height: 100px;
    padding-top: 20px;
    float: left;
}

ul#menu {
    margin: 15px 0 5px 0;
    padding: 10px 0;
    width: 745px;
    height: 57px;
    display: block;
    background: #437133;
    background: -moz-linear-gradient(#437133, #284020);
    background: -o-linear-gradient(#437133, #284020);
    background: -webkit-linear-gradient(#437133, #284020);
    border-bottom: 3px solid #1D2D17;
    border-left: 1px solid #1D2D17;
    border-right: 1px solid #1D2D17;
    border-top: 1px solid #1D2D17;
    border-radius: 30px 0px 30px 0px;
    -moz-border-radius: 30px 0px 30px 0px;
    -webkit-border: 30px 0px 30px 0px;
}

ul#menu li {
    float: left;
    padding: 0 0 0 0px;
    list-style: none;
    margin: 2px 1px 0 0;
    background: transparent;
    position: relative;
}

ul#menu li a#tab {
    float: left;
    font: bold 120% 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000;
    text-decoration: none;
    margin: 0px 0 0 10px;
    padding: 5px 15px 5px 15px;
    background: transparent;
}

ul#menu li a.active {
    text-shadow: 1px 1px #323232;
    background: #284020;
    background: -moz-linear-gradient(#437133, #284020);
    background: -o-linear-gradient(#437133, #284020);
    background: -webkit-linear-gradient(#437133, #284020);
    border-radius: 15px 0px 15px 0px;
    -moz-border-radius: 15px 0px 15px 0px;
    -webkit-border: 15px 0px 15px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

ul#menu li:hover a#tab {
    text-shadow: 1px 1px #000;
    background: #284020;
    background: -moz-linear-gradient(#284020, #437133);
    background: -o-linear-gradient(#284020, #437133);
    background: -webkit-linear-gradient(#284020, #437133);
    border-radius: 15px 0px 15px 0px;
    -moz-border-radius: 15px 0px 15px 0px;
    -webkit-border: 15px 0px 15px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

ul#menu li:hover > ul {
    display: block;
}

ul#menu ul {
    display: none;
    position: absolute;
    left: 10px;
    top: 100%;
    background: #437133;
    background: -moz-linear-gradient(#437133, #284020);
    background: -o-linear-gradient(#437133, #284020);
    background: -webkit-linear-gradient(#437133, #284020);
    border-bottom: 2px solid #1D2D17;
    border-radius: 0px 30px 0px 30px;
    -moz-border-radius: 30px 0px 30px 0px;
    -webkit-border: 30px 0px 30px 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

ul#menu ul li {
    position: relative;
    float: none;
    width: 140px;
}

ul#menu ul li a#subtab {
    float: left;
    font: bold 120% 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px #000;
    text-decoration: none;
    margin: 0 2px 4px 10px;
    padding: 5px 15px 5px 15px;
    background: transparent;
}

ul#menu ul li:hover a#subtab {
    text-shadow: 1px 1px #000;
    background: #284020;
    background: -moz-linear-gradient(#284020, #437133);
    background: -o-linear-gradient(#284020, #437133);
    background: -webkit-linear-gradient(#284020, #437133);
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border: 0px 15px 0px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

/* Clearfix */
ul#menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* Menu stop */

#site_content {
    width: 940px;
    overflow: hidden;
    background: transparent;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

#content {
    width: 900px;
    margin-bottom: 20px;
    padding-left: 20px;
    float: left;
}

#column1 {
    width: 33%;
    float: left;
}

#column2 {
    width: 33%;
    float: left;
}

#column3 {
    width: 33%;
    float: left;
}

#footer_container {
    height: 490px;
    color: #FFF;
    text-shadow: none;
    background: #000;
    border: 1px solid;
}

#footer {
    width: 960px;
    height: 450px;
    padding-top: 40px;
    text-align: center;
    background: transparent;
}

#footer a, #footer a:hover {
    text-decoration: none;
    padding-bottom: 20px;
    color: #FFF;
    text-shadow: none;
}

#footer a:hover {
    text-decoration: underline;
}

/* Site-wide styles stop */

.thumb {
    float: left;
    height: 100px;
    width: 100px;
    padding: 1em;
}