/* app css stylesheet */

/* For Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* End Angular UI Bootstrap */

body {
	/*background-image: url("/app/img/ecsalogo.JPG");*/
	background-size: 100px 40px;
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.nav {
	width: 470px;
	margin: 0 auto;
	padding: 0;
}

.thumb {
        float: left;
        height: 100px;
        width: 100px;
        padding: 1em;
}
