<div>
    <h1>About ECSA</h1>
    &nbsp;
    <p>
        This is the website for the East Campus Students&#39; Association (ECSA).
        All residents of East Campus Village (ECV) are automatically a member of ECSA.
        Each member of ECSA pays a $41 annual association fee which is included with the first month of rent.
        $36 of this goes towards the ECSA budget, and the remaining $5 goes to the <a href="http://uarha.ca">RHA</a>.
    </p>
    &nbsp;
    <p>
        The <a ui-sref="main.contact">ECSA Executive</a> consists of a President and three Vice Presidents (VP).
        <ul class="indented-ul">
            <li>The President is responsible for coordinating with the other Executives to ensure ECSA functions smoothly.</li>
            <li>The VP Finance is in charge of managing the ECSA budget throughout the year.</li>
            <li>The VP Communication is in charge of communicating important information to ECV residents.</li>
            <li>The VP House is responsible for maintaining ECSA House and coordinating the ECSA Volunteers.</li>
        </ul>
    </p>
    &nbsp;
    <p>
        We host various <a ui-sref="main.events">awesome events</a> throughout the year, such as BBQs,
        brunches, games nights, movie nights, holiday events, etc. Join our
        <a href="https://www.facebook.com/groups/125008254253515/">Facebook Group</a>
        or follow us on <a href="https://twitter.com/uAlbertaECSA">Twitter</a>
        where we post information about upcoming ECSA events, and various other information about living in ECV.
    </p>
    &nbsp;
    <p>
        We have a community centre, known as <a ui-sref="main.house">ECSA House</a>, which is located at 11036-88 Ave.
        All ECV residents can have 24/7 access to this amazing house by filling out this <a ui-sref="main.door_code">Door Code Form</a>.
        The ECSA House will be open at various times throughout each week for <a ui-sref="main.volunteer_calendar">volunteer hours</a>.
        During this time, feel free to drop by and use some of our <a ui-sref ="main.services">services</a>.
        Here&#39;s more information about <a ui-sref="main.volunteers">Volunteering for ECSA</a>.
        If you&#39;re interested in becoming a volunteer, you can <a ui-sref="main.volunteer_application">apply here</a>.
        All volunteers are greatly appreciated!
    </p>
    &nbsp;
    <p>
        If you have any questions about anything, please check out our <a ui-sref="main.faq">FAQ</a>,
        and feel free to leave comments about absolutely anything in our <a ui-sref="main.comments">Comment Box</a>.
    </p>
</div>