<div>
    <h1>ECSA 2016-2017 Election Candidates</h1>

    <br/>
    <h2>Click <a href="http://ualberta.us1.list-manage1.com/track/click?u=0e63682ddf17b10a49fc8b492&id=9d3f3bacbc&e=154af03eb3">here</a> to vote!</h2>
    <p>NOTE: Only current ECSA members (residents of ECV, Pinecrest, Tamarack, Alder, and Linden) are eligible to vote. All other votes will be removed. Votes need to be cast by midnight (11:59pm) on March 29th, 2016.</p>
    <br/>

    <div style="height: 485px;">
        <h2 style="padding: 5px 0px; margin: 0; font-size: 20pt;">Position: President</h2>
        <h3 style="padding: 5px 0px; margin: 0; font-size: 16pt;">Candidate: Melissa Paskell</h3>
        <img alt="President" src="img/elections/president.jpg" align="left" style="margin: 5px 20px 5px 0px;width: 300px;">
        <p style="font-size: 12pt;">
            Greetings ECSA members! I am the outgoing VP Volunteers on the ECSA executive and am running for President. I would like to be President because the association will be going through a transition in the next year and I think that I am the best candidate to help us get through that transition. A lot of things are changing but my dedication and commitment to developing our community will not! I want to ensure that East Campus is a community that you&#39;re proud to be a part of and will do everything I can to make that happen!
        </p>
    </div>

    <div style="height: 500px;">
        <h2 style="padding: 5px 0px; margin: 0; font-size: 20pt;">Position: Vice-President Finance</h2>
        <h3 style="padding: 5px 0px; margin: 0; font-size: 16pt;">Candidate: Erica Blewett</h3>
        <img alt="Finance" src="img/elections/finance.png" align="left" style="margin: 5px 20px 5px 0px;width: 300px;">
        <p style="font-size: 12pt;">
            Hi everyone, my name&rsquo;s Erica Blewett and I am running for VP Finance for the coming year. I&rsquo;m from Red Deer, and will be starting the fourth year of my degree in the fall, a double major in Linguistics and East Asian Studies. I have had previous experience handling money as a treasurer with my community band council. If elected, I will work hard to ensure that ECSA stays on budget and keep track of finances. In addition, if the current association fee is not collected by Residence Services, then I am willing to go out and help collect the fees with the rest of the team, and will keep records of who has paid to assist with event planning.
        </p>
    </div>
    
    <div style="height: 515px;">
        <h2 style="padding: 5px 0px; margin: 0; font-size: 20pt;">Position: Vice-President Communications</h2>
        <h3 style="padding: 5px 0px; margin: 0; font-size: 16pt;">Candidate: Heather Whitfield</h3>
        <img alt="" src="img/elections/communication.png" align="left" style="margin: 5px 20px 5px 0px;width: 300px;">
        <p style="font-size: 12pt;">
            Hi everyone! My name is Heather, and I&rsquo;m an Education student entering my fourth and final year of my degree. I&rsquo;ve lived in ECV for the past year, so I&rsquo;ve seen first-hand how many incredible events and resources ECSA provides for residents, and I&rsquo;m super-enthused about the possibility of being part of the ECSA team for 2016-2017! My hope is that if elected as VP Communications, I&rsquo;ll be able to continue to provide the same great level of communication currently offered by ECSA as well as looking at other potential avenues for communication, based on resident feedback.
        </p>
    </div>

    <div style="height: 430px;">
        <h2 style="padding: 5px 0px; margin: 0; font-size: 20pt;">Position: Vice-President Programming</h2>
        <h3 style="padding: 5px 0px; margin: 0; font-size: 16pt;">Candidate: Riley Edmonds</h3>
        <img alt="Programming" src="img/elections/programming.jpg" align="left" style="margin: 5px 20px 5px 0px;width: 300px;">
        <p style="font-size: 12pt;">
            Hey guys, I&rsquo;m Riley and I&rsquo;m running for VP programming. I&rsquo;m a third year anthropology student and I&rsquo;m from a little town called Blaine in the northwest corner of Washington State. I&rsquo;m super excited to be running for VP programming because I think that there are a lot of awesome events out there that can be brought right here into our own living area that you might not have even thought about before. Besides all of the wonderful programming that happened this year, such as the pancake breakfast and the ever popular pet therapy, I would like to introduce new events, such as possibly renting out the education gym for a sports night, or planning a barbeque/cookout down by the river. If I am elected, I look forward to making the next year a lot of fun.
        </p>
    </div>

    <div style="height: 500px;">
        <h2 style="padding: 5px 0px; margin: 0; font-size: 20pt;">Position: Vice-President Volunteers</h2>
        <h3 style="padding: 5px 0px; margin: 0; font-size: 16pt;">Candidate: Alan Li</h3>
        <img alt="Volunteers" src="img/elections/volunteers.png" align="left" style="margin: 5px 20px 5px 0px;width: 300px;">
        <p style="font-size: 12pt;">
            My name is Alan and I am one of the three candidates running for the executive position for VP Volunteers. I am from the faculty of ALES, my major is in Animal Science and I&rsquo;m working my way towards getting accepted into Vet school. The reason I am running is because I want to make ECV a fun and exciting environment for new residence and for the returning students. I want to use my energy to motivate volunteers and have a positive impact on their experience with us. If I get elected, I promise to bring about positive change that will make ECV GREAT AGAIN!
        </p>
    </div>
    
    <div style="height: 520px;">
        <h2 style="padding: 5px 0px; margin: 0; font-size: 20pt;">Position: Vice-President Internal</h2>
        <h3 style="padding: 5px 0px; margin: 0; font-size: 16pt;">Candidate: Shunyu Yao</h3>
        <img alt="Internal-1" src="img/elections/internal1.jpg" align="left" style="margin: 5px 20px 5px 0px;width: 300px;">
        <p style="font-size: 12pt;">
            Hello my name is Shunyu Yao, I&rsquo;m running for VP internal. &nbsp;As for myself, I&rsquo;m a third year education student who lives in ECV, also a musician outside of school. I will be keeping our hang out space tidy and organized, also helping other executives like planning events etc. In addition to that I&rsquo;ve been friends with most of the executives of this year and fortunately roommate with our ECSA president, and over the terms I learned lots things from them. I have the confidence to handle this position, and I will do my best to help creating more interesting events like a music recital, trip to jasper and year end prom etc. Please vote for me.
        </p>
    </div>
    <div style="height: 350px;">
        <h3 style="padding: 5px 0px; margin: 0; font-size: 16pt;">Candidate: Racheal Githumbi</h3>
        <img alt="Internal-2" src="img/elections/internal2.png" align="left" style="margin: 5px 20px 5px 0px;width: 300px;">
        <p style="font-size: 12pt;">
            My name is Racheal and I am an International Student in my 2nd year of Biochemistry. I&rsquo;ve lived on Campus for the past two years and definitely understand the struggles of student life. In the process of learning to juggle School, work and friends I have been able to gain invaluable organizational skills as well as learn to responsibly handle my position as a Mentor for St Joseph&rsquo;s Women&rsquo;s Residence effectively. If elected I hope to improve on and expand the current services provided by the ECSA house as well as cater them to better suit your needs. If you see me around don&rsquo;t hesitate to ask me more about what I can do to continue to maintain as well as make the ECSA house more AWESOME!
        </p>
    </div>
</div>