<div>
<h1>Frequently Asked Questions</h1>

<section class="faq-section">
    <input type="checkbox" id="q1">
    <label for="q1">What is the ECSA?</label>           
    <p>
        The East Campus Students&#39; Association (ECSA) is the student group for residents of
        East Campus Village (ECV) at the University of Alberta. The <a ui-sref="main.contact">ECSA Executive</a>
        consists of a President and three Vice Presidents. We host various <a ui-sref="main.events">events</a>
        throughout the year and offer useful <a ui-sref="main.services">services</a> to ECV residents.
        We will make sure that your experience at the university is awesome!
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q2">
    <label for="q2">Am I a member of ECSA?</label>           
    <p>
        If you live in ECV residence, then yes! Residents of ECV include those living in the walkup buildings
        on 88 Ave (11008, 11016, 11024, 11031, 11035, 11039), various houses scattered throughout the ECV area,
        and some fraternities.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q3">
    <label for="q3">What are association fees?</label>           
    <p>
        Each ECV resident pays $41 per year for ECSA association fees. $36 of this goes directly towards the
        ECSA budget for events and services, while the remaining $5 goes to the <a href="http://www.uarha.ca">RHA</a>.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q4">
    <label for="q4">What is ECSA House?</label>           
    <p>
        ECSA House is the community centre available for ECV residents. It is located at 11036-88 Ave,
        and can be accessed at any time by ECV residents who have the <a ui-sref="main.door_code">door code</a>.
        There are many <a ui-sref="main.house">awesome things</a> in ECSA House, and various
        <a ui-sref="main.services">services</a> offered during <a ui-sref="main.volunteer_calendar">volunteer hours</a>.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q5">
    <label for="q5">Can I use ECSA House for private events?</label>           
    <p>
        Yes! All ECV residents can book ECSA House for private events, such as a birthday party, movie night, etc.
        Just fill out <a ui-sref="main.book_house">this form</a>, and we&#39;ll email you back with confirmation.
        The two main rules are that alcohol is not allowed, and you must clean up after yourself.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q6">
    <label for="q6">Can I bring alcohol into ECSA House?</label>           
    <p>
        No. ECSA House is considered a public space, so alcohol is prohibited.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q7">
    <label for="q7">How can I get more involved in the community?</label>           
    <p>
        Feel free to fill out our <a ui-sref="main.volunteer_application">Volunteer Form</a> if you wish
        to get more involved! The minimum requirement as a volunteers is to open the ECSA House volunteer office
        for at least 2 hours a week, but there are some <a ui-sref="main.volunteers">great perks</a>.
    </p>
</section>

<!-- Break this into separate questions? -->
<section class="faq-section">    
    <input type="checkbox" id="q8">
    <label for="q8">What should I do if I need help, or if I'm locked out of my unit?</label>           
    <p>
        If you are locked out of your room, or have any general issue or conflict, you can visit the
        Residence Services Office in I-House during office hours, or call the ECV Resident Assisant (RA)
        number at 780-619-5944 if the office is closed. Note that each resident only gets one free unlock,
        every other time you will have to pay $30. If you have an issue which requires immediate attention,
        you can again call the RAs for assistance, or campus security at 780-492-5050, or if it&#39;s a life
        threatening emergency, you should call 911.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q9">
    <label for="q9">What if something in my unit needs repair?</label>           
    <p>
        If something in your unit requires maintenance, such as lights, sink, toilet, etc, you can fill out a
        <a href="https://rezsrv.ancillary.ualberta.ca/PatronWeb/WorkOrderList.asp?">maintenance request online</a>.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q10">
    <label for="q10">How do I pay rent?</label>           
    <p>
        Rent is required on or before the first day of every month that you are living in ECV.
        You can pay at the Residence Services Office in I-House, or you can
        <a href="https://rezsrv.ancillary.ualberta.ca/PatronWeb/FTList.asp">pay online</a>.
        Beware that Residence Services will charge you an extra $40 if you pay rent late!
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q11">
    <label for="q11">What rules are there for living in ECV?</label>           
    <p>
        You should make sure to keep a copy of your lease agreement that you signed when you moved into ECV.
        A lot of rules can be found in there, as well as the
        <a href="http://www.governance.ualberta.ca/CodesofConductandResidenceCommunityStandards/CodeofStudentBehaviour.aspx">Code of Student Behaviour</a>
        for all university students, and the
        <a href="http://www.residence.ualberta.ca/CurrentResidents/CommunityStandards/HouseRules.aspx">House Rules</a>
        for living in ECV.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q12">
    <label for="q12">Where can I recycle?</label>           
    <p>
        There are a few recycle stations located in the parking lots behind the ECV walkup buildings.
        You can use these for garbage, recycling, and compost. You can also drop off bags of bottle/can
        recycling at ECSA House during <a ui-sref="main.volunteer_calendar">volunteer office hours</a>
        and the refund money will go towards more awesome events and services for ECV residents!
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q13">
    <label for="q13">Where can I do laundry?</label>           
    <p>
        Each walkup building has laundry machines on the second floor, and each house will have laundry machines.
        Washing costs $1.25, and drying costs $1.00 and the machines accept quarters or loonies.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q14">
    <label for="q14">What is the difference between East Campus vs. East Campus Village?</label>           
    <p>
        The East Campus Students&#39; Association (ECSA) is only the students&#39; association for residents of
        East Campus Village (ECV). However, there are other nearby residences which are collectively referred
        to as East Campus, including International House (I-House), Pinecrest, Tamarack, HUB, Graduate Residence,
        and Newton Residence.
    </p>
</section>

<section class="faq-section">    
    <input type="checkbox" id="q15">
    <label for="q15">What if I have a question that wasn&#39;t answered here?</label>           
    <p>
        If you have any additional questions, feel free to fill out our Question Form below, and if you have
        any comments, suggestions, or complaints, feel free to fill out our <a ui-sref="main.comments">Comment Box</a>.
    </p>
</section>

</div>

<div class="question_form">
    <iframe src="https://docs.google.com/forms/d/1MM7syCUZdvxDnV1K9Z-8rizGcIV1TzuPAHXISrM0uaM/viewform?embedded=true"
            width="900" height="750" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>