<h1 style="text-align: center;">Social Media</h1>

<div style="width:600px; height:200px; margin: auto;">
    <a href="https://www.facebook.com/groups/125008254253515/" target="_blank"><img class="thumb" ng-src="img/facebook.png"></a>
    <a href="https://twitter.com/uAlbertaECSA" target="_blank"><img class="thumb" ng-src="img/twitter.png"></a>
    <a href="https://www.youtube.com/channel/UC95HTbAb63dEuC_rbfoFKMA" target="_blank"><img class="thumb" ng-src="img/youtube.jpg"></a>
</div>

<div class="horizontal-row">
    <p style="text-align: center;">Want to post something on behalf of ECSA? Email ecsaCommunication@gmail.com</p>
</div>