<h1>Welcome!</h1>
<p style="text-align: justify;">Welcome to the newly refurbished East Campus Students' Association website.   
    Learn about everything ECSA has to offer by using the navigation bar above. 
    We look forward to meeting you and making your stay in East Campus Village great!
</p>

<div class="horizontal-row">
    <img class="home-thumb" ng-src="img/outside-walkup.jpg">
    <img class="home-thumb" ng-src="img/outside-fall.jpg">
    <img class="home-thumb" ng-src="img/ecsa-house.jpg">
    <img class="home-thumb" ng-src="img/outside-sculpture.jpg">
    <img class="home-thumb" ng-src="img/outside-bikes.jpg">
    <img class="home-thumb" ng-src="img/outside-snow.jpg">
</div>

<div class="column">
    <h3  style="margin-top: 10px; text-align: center;">What ECSA Is All About</h3>
    <p style="text-align: justify;">We are an association dedicated to enriching the university experience of residents.
        Whether that be through community events, advocacy, or maintaining our community house,
        the East Campus Students' Association is striving to make your residence stay 
        some of the best times of your university life. Please don't hesitate to contact us
        using our <a ui-sref="main.contact">Contact Us</a> page or 
        <a ui-sref="main.comments">Comment Box</a> if you think we can improve in any way.</p>
</div>

<div class="column" style="text-align: center;">
    <h3 style="margin-top: 10px;">Most Popular Pages</h3>
    <ul>
        <li><a ui-sref="main.door_code">Get the ECSA House door code</a></li>
        <li><a ui-sref="main.faq">Frequently asked questions</a></li>
        <li><a ui-sref="main.volunteer_application">Become a volunteer</a></li>
        <li><a ui-sref="main.volunteer_calendar">Volunteer schedule</a></li>
        <li><a ui-sref="main.book_house">Book ECSA House</a></li>
        <li><a ui-sref="main.events">Upcoming events</a></li>
        <li><a ui-sref="main.services">Rentable item list</a></li>
        <li><a ui-sref="main.comments">Leave a comment</a></li>
        <li><a ui-sref="main.social_media">Social media links</a></li>
    </ul>
</div>

<div class="column">
    <twitter-timeline></twitter-timeline>
</div>
