<h1>Welcome!</h1>
<p>Welcome to the newly refurbished East Campus Students’ Association website.  
    We are an association dedicated to enriching the university experience of residents. 
    Learn about everything ECSA has to offer by using the navigation bar above. 
    We look forward to meeting you and making your stay in East Campus Village great!</p>
<br>

<div id="column1">
        <a class="twitter-timeline" href="https://twitter.com/uAlbertaECSA" data-widget-id="503662221574942720">Tweets by @uAlbertaECSA</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>

<div id="column2">
    <h3>Header2</h3>
</div>

<div id="column3">
    <h3>Most Popular Pages</h3>
    <p>Upcoming events</p>
    <p>Volunteer hours</p>
    <p>Rentable item list</p>
    <p>Get the ECSA House door code</p>
    <p>Book ECSA House</p>
    <p>Become a volunteer</p>
    <p>Leave a comment</p>
</div>