<div>
    <h1>ECSA Services</h1>
    
    <p>
        There are various services that ECSA provides to ECV residents, other than hosting
        <a ui-sref="main.events">events</a>. All our services are provided in
        <a ui-sref="main.house">ECSA House</a>, and some services are only available
        during <a ui-sref="main.volunteer_calendar">volunteer hours</a>.
    </p>
    &nbsp;
    <p>
        One service that is offered during volunteer hours is printing and scanning for only 5 cents per page. This
        is a much cheaper price than various places on campus!
    </p>
    &nbsp;
    <p>
        The other main service offered during volunteer hours is access to various rental items.
        A deposit might be required, which will be returned when the item is returned
        <ul class="indented-ul">
            <li>Vacuum cleaners (OneCard as deposit)</li>
            <li>Air mattresses ($5 deposit)</li>
            <li>Cleaning supplies</li>
            <li>Board Games</li>
            <li>DVDs</li>
        </ul>
    </p>
    
</div>