<div>
    <h1>ECSA Volunteers</h1>
    
    <p>
        Volunteering for ECSA is a great way to get involved and be a positive influence in the ECV community!
        The minimum expectations are to open the ECSA House volunteer office for at least a two hour shift per week.
        During these shifts, volunteers are expected to be in ECSA House, and be available for residents
        who wish to rent items or to print something, as described in
        <a ui-sref="main.services">ECSA services</a>.
        Volunteers are also encouraged to help with various ECSA events, or even host their own events if
        they desire.
    </p>
    &nbsp;
    <p>
        There are a number of perks that we offer to volunteers
        <ul class="indented-ul">
            <li>15 free pages of printing per week</li>
            <li>Invited to awesome volunteer appreciation parties every semester</li>
            <li>Access to ECSA services 24/7</li>
            <li>Automatic membership in ECSA Council, and invited to Council Meetings</li>
            <li>Access to ECSA budget for approved expenses</li>
            <li>The ECSA Executives can be listed as references</li>
        </ul>
    </p>
    &nbsp;
    <p>
        If you&#39;re interested in volunteering with ECSA, please fill out our
        <a ui-sref="main.volunteer_application">Volunteer Application</a>.
        We&#39;ll email you back shortly to schedule some quick volunteer training.
        All volunteers are greatly appreciated!
    </p>
    &nbsp;
    
    
</div>