<div>
    <h1>Volunteer Schedule</h1>
    <p>
        This is the calendar for ECSA House volunteer office hours.
        During these times, the Open sign will be on, and there will be a volunteer in ECSA House.
        Feel free to drop by to use our <a ui-sref="main.services">services</a>,
        or donate any bottle/can recycling during this time.
        If you find that the house is not open when it should be,
        please either email the VP House (ecsahouse@gmail.com),
        or let us know in our <a ui-sref="main.comments">Comment Box</a>.
    </p>
</div>

<div id="volunteer_calendar">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=u272tl0818hmsiqsijuttss2jg%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FEdmonton"
            style=" border-width:0 " 
            width="940" 
            height="600" 
            frameborder="0" 
            scrolling="no">
    </iframe>
</div>