<div>
<h1>ECSA House</h1>

    <p>
        East Campus Village has a community centre, known as ECSA House, which is located at 11036-88 Ave.
        This three storey house is an awesome place to hang out, and it's also where ECSA hosts most of its
        <a ui-sref="main.events">events</a> and provides useful <a ui-sref="main.services">services</a>.
    </p>
    &nbsp;
    <p>
        ECSA members can get 24/7 access to ECSA House by filling out this <a ui-sref="main.door_code">Door Code Form</a>.
        ECSA members can invite guests into ECSA House, but any non-ECSA members are not allowed to be in the house alone.
        Please always be respectful of the people and property in ECSA House.
    </p>
    &nbsp;
    <p>    
        If you would like to book ECSA House for your own private or public event, feel free to fill out this
        <a ui-sref="main.book_house">Book ECSA House Form</a>.
        Keep in mind that alcohol is not allowed in ECSA House, and you must clean up any messes you make.
    </p>
    &nbsp;
    <p>
        The main floor contains
        <ul class="indented-ul">
            <li>An awesome 50 inch plasma TV with DVD player</li>
            <li>Multiple comfy couches</li>
            <li>A kitchen with fridge, oven, and microwave</li>
            <li>The volunteer office</li>
            <li>A router with free wifi</li>
        </ul>
    </p>
    &nbsp;
    <p>
        The upper floor contains
        <ul class="indented-ul">
            <li>A small reading room</li>
            <li>Study rooms</li>
        </ul>
    </p>
    &nbsp;
    <p>
        The basement contains
        <ul class="indented-ul">
            <li>A pool table</li>
            <li>Foosball table</li>
            <li>A ping pong table</li>
        </ul>
    </p>
    &nbsp;
</div>